---
import { FaChevronUp } from "react-icons/fa";
---
<html>
<body>
  <!-- Scroll to Top Button -->
  <div id="btn-scroll-to-top" onClick="scrollToTop()" class="fixed border-1.4 border-black text-dark bg-white hover:bg-teal-100 bottom-8 right-8 w-10 h-10 flex items-center justify-center cursor-pointer duration-300">
    <FaChevronUp />
  </div>
  <script is:inline>
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    }
  </script>
</body>
</html>
