---
// src/components/ScrollToTop.astro
---
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <!-- Go to Top Button -->
  <div id="scroll-to-top" onClick="scrollToTop()" class="fixed border-1.4 border-black text-dark bg-white hover:bg-teal-100 bottom-8 right-8 w-10 h-12 flex items-center justify-center cursor-pointer duration-300">
    <i class="fas fa-arrow-up"></i>
  </div>
  <script>
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    }
  </script>
</body>
</html>
