---
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { FaTag } from "react-icons/fa6";

 
const tags = await getTaxonomy("posts", "tags");
---

<Base title={"Tags"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Tags</h1>
      <ul class="space-x-4">
        {
          tags.map((tag) => (
            <li class="inline-block pb-5">
              <a
                href={`/tags/${tag}`}
                class="rounded-none border-black border-1.4 px-4 py-2 text-dark transition hover:bg-teal-100 hover:text-dark flex items-center group"
              >
                <FaTag className="mr-1 text-dark group-hover:text-dark transition" />
                <>{humanize(tag || "")}</>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
